:root {
    --background-color: #E5E5E5;
    --color-accent: #212121;
}

body {
    font-family:'Roboto', sans-serif;
    font-size: 14px; letter-spacing: 0.03em;
    color: var(--background-color);
}

.header {
background-color:  #ffffff;
}

.main {
    color: var(--color-accent);
}
.h1 {
    color: #ffffff;
    font-weight: 900;
}

.section-h1-button {
background-color: var(--color-accent);
color: #ffffff;
}

.h2-hidden {
    visibility: hidden;
}

.h2, h3 {
    font-weight: 700;
    color: var(--color-accent);
}

.h3-p {
    font-weight: 400;
    color: #757575;
}

.our-team {
    background-color: #F5F4FA;
}

.igor {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.olja {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.nike {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.mike {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.web, .web-footer  {
    font-weight: 700;
    color: var(--color-accent);
    text-decoration: none;
}
.web-footer {
    color: #ffffff;
}

.link-nav {
    list-style: none;
    
}
.link {
    font-weight: 500;
    text-decoration: none;
    color: var(--color-accent);
    font-style: normal;
}
.link-tel, .footer-link-tel, .footer-link-mail {
    font-weight: 500;
    text-decoration: none;
    color: #757575;
    font-style: normal
}
.link:hover {
    color: #2196F3;
}

.footer {
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 1628px;
    background-color: var(--color-accent);
}
.footer-link {
    color: #ffffff;
    font-style: normal;
    text-decoration: none;
}
.footer-link:hover {
    color: #2196F3;
}

.button-order-service {
    background-color: #2196F3;
    color: #ffffff;
    border: solid transparent;
    border-radius: 4px;
    font-weight: 700;
    position: absolute;
    width: 200px;
    height: 50px;
    cursor: pointer;    
}

.button :hover {
    background-color: #2196F3;
}

.button :focus {
    background-color: #04508f;
}

.button {
    list-style-type: none;
    background-color: var(--background-color);
}

.button-all {
    border: solid transparent;
    border-radius: 4px;
    font-weight: 500;
    position: absolute;
    width: 73px;
    height: 38px;
    cursor: pointer;
}
.button-website {
    border: solid transparent;
    border-radius: 4px;
    font-weight: 500;
    position: absolute;
    width: 128px;
    height: 38px;
    cursor: pointer;
}
.button-app {
    border: solid transparent;
    border-radius: 4px;
    font-weight: 500;
    position: absolute;
    width: 145px;
    top: 174px;
    cursor: pointer;
}
.button-design {
    border: solid transparent;
    border-radius: 4px;
    font-weight: 500;
    position: absolute;
    width: 103px;
    top: 174px;
    cursor: pointer;
}
.button-marketing {
    border: solid transparent;
    border-radius: 4px;
    font-weight: 500;
    position: absolute;
    width: 130px;
    top: 174px;
    cursor: pointer;
}

.notebook, .basketball, .restaurant, .headphones, .boxes, .monitor, .journal, .label, .growing {
    background-color: #ffffff;
    border: 1px solid #EEEEEE;
    font-weight: 400;
    color: #757575;
}


