:root {
    --background-color-accent: #2F303A;
    --background-color-grey: #e5e5e5;
    --background-color-white: #ffffff;
    --background-color-light-greу: #F5F4FA;
    --background-color-blue: #2196F3;
    --background-color-dark-blue: #04508f;
    --color-accent: #212121;
    --color-accent-two: #ffffff;
    --color-accent-three: #757575;
    --color-accent-four: #2196F3;
}

body {
    font-family:'Roboto', sans-serif;
    font-size: 14px; letter-spacing: 0.03em;
    color: var(--color-accent);
}

a, ul, li {
    text-decoration: none;
    list-style-type: none;
    font-style: normal
}

.header {
    background-color: var(--background-color-white);
}

.title {
    color: var(--color-accent-two)
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.title-project {
    background-color: var(--background-color-grey);
}

.article-project {
    visibility: hidden;
}


.section-button {
    background-color: var(--background-color-accent);
    color: var(--color-accent-two);
}

.skills-hidden {
    visibility: hidden;
}

.article-skills {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.skills-text {
    color: var(--color-accent-three);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.article-work, .article-team  {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.article-post {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.article-name, .article-paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.article-decoding {
    color: var(--color-accent-three);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

.article-paragraph {
color: var(--color-accent-three);
}

.team-title {
    background-color: var(--background-color-light-greу);
}

.title-img {
    background-color: var(--background-color-white);
}

.web, .web-footer  {
    font-weight: 700;
    font-size: 26px;
    font-family: Raleway;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--color-accent);

}
.web-footer {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--color-accent-two);
}

.link-nav {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.link {
    color: var(--color-accent);
}
.link-tel, .footer-link-tel, .footer-link-mail {
    color: var(--color-accent-three);
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.link:hover {
    color: var(--color-accent-four);
}

.link-tel:hover {
    color: var(--color-accent-four);
}

.footer {
    background-color: var(--background-color-accent);
}

.footer-link {
    color: var(--background-color-white);
}
.footer-link:hover {
    color: var(--color-accent-four);
}
.footer-link-mail:hover {
    color: var(--color-accent-four);
}
.footer-link-tel:hover {
    color: var(--color-accent-four);
}

.button-order-service {
    background-color: var(--background-color-blue);
    color: var(--color-accent-two);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor:pointer;
}
.button-work {
    background-color: var(--background-color-light-greу);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.button :hover {
    background-color: var(--background-color-blue);
}

.button :focus {
    background-color: var(--background-color-dark-blue);
}

.work {
    background-color: var(--background-color-white);
}
